* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.contenedorPrincipal {
    max-width: 100%;
    margin: 2px;
}

carousel-inner img {
    width: 100%;
    height: 100%;

  }

  .carousel-item img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: 50% 50%;
}
  

.textoDerecha img{
    height: 90px;
    display: flex!important;
    box-sizing: border-box;
}



.contenedorSuperior .textoDerecha{
    align-content: space-between;
    list-style-type: none;
    display: inline-block;
}



.imgPrincipal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedorInferior{
    background-color: #ffa500;
    height: 40px;
    padding: 0.5%;
    margin: 10px 0px;
    text-align: center;
    font-size: small;
    font-weight: lighter;
    font-style: italic;
}

.contenedorInferior p{
    margin: 0.5% !important;
}

.contenedorPrincipal .tabla {
    background-color: rgba(222, 208, 231, 0.651);
}
.tabla td{
    padding: 2% !important;
    margin: 2% !important;
}
.tabla th{
    padding: 2% !important;
    margin: 2% !important;
}
.contenedorPrincipal .tabla ul li {
    color: rgb(58, 50, 50);
    list-style-type: circle;
}
.contenedorPrincipal .tabla ol li {
    color:grey;
}

/* SERVICIOS */

.contenedorPrincipalServicios{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.servicios{
    background-color: #ffa500;
    margin: 12px;
    text-align: center;
}

.eventos{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 12px;
}

.eventosImagen{
    width: 50%;
    height: 300px;
    margin: 10px;
}

.eventosImagen img{
    height: 100%;
    width: 100%;
}

.eventosTexto{
    width: 50%;
    height: 300px;
    margin: 10px;
}

.restaurante{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 12px;
}

.restauranteImagen{
    width: 50%;
    height: 300px;
    margin: 10px;
}

.restauranteImagen img{
    height: 100%;
    width: 100%;
}

.restauranteTexto{
    width: 50%;
    height: 300px;
    margin: 10px;
}

.catering{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 12px;
}

.cateringImagen{
    width: 50%;
    height: 300px;
    margin: 10px;
}

.cateringImagen img{
    height: 100%;
    width: 100%;
}

.cateringTexto{
    width: 50%;
    height: 300px;
    margin: 10px;
}


/* NOSOTROS */

.contenedorPrincipalNosotros{
    margin: 2px;
}

.contenedorPrincipalNosotros .contenedorImagen{
    background-image: url(./img/barNosotros.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: img;
    padding: 3px;
}

.contenedorPrincipalNosotros .nosotros{
    background-color: #eedf578a;
    height: 200px;
}

.contenedorPrincipalNosotros .nosotros:hover{
    background-color: #eedf578a;

    transform: scale(1.01,1.01);
}

.contenedorPrincipalNosotros h1{
    text-align: center;
    margin: 10px;
}

.contenedorPrincipalNosotros .nuestraHistoria{
    background-color: #eedf578a;
    height: 200px;

}

.contenedorPrincipalNosotros .nuestraHistoria:hover{
    background-color: #eedf578a;

    transform: scale(1.01,1.01);
}

.contenedorPrincipalNosotros .opinion1{
    background-color: #ffd208d7;
    height: 200px;

}


.contenedorPrincipalNosotros .opinion1:hover{
    background-color: #ffd208d7;
    transform: scale(1.01,1.01);
}

.contenedorPrincipalNosotros .opinion2{
    background-color: #ffd208d7;
    height: 200px;
}

.contenedorPrincipalNosotros .opinion2:hover{
    background-color: #ffd208d7;
    transform: scale(1.01,1.01);
    
}

.contenedorPrincipalNosotros .opinion3{
    background-color: #ffd208d7;
    height: 200px;
}

.contenedorPrincipalNosotros .opinion3:hover{
    background-color: #ffd208d7;
    transform: scale(1.01,1.01);
}

.contenedorPrincipalNosotros h1{
    text-align: center;
    margin: 10px;
}

.contenedorPrincipalNosotros p{
    text-align: justify;
    margin: 10px;
}

/* CONTACTO */
.contenedorPrincipalContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mapaContacto{
    overflow:hidden;
    width: 50%;
    height: auto;
    padding: 1%;
}

.mapaContacto iframe{
    height:100%;
    width:100%;
}

.formularioContacto{
    width: 50%;
    height: auto;
    padding: 1%;
}
.formularioContacto .formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.formularioContacto fieldset{
    border-width: 0;
}
.formularioContacto h2{
    margin: 5px;
}

.formularioContacto input{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    justify-content: space-evenly;
}
.formularioContacto label{
    display: inline-block;
    margin: 5px;
}
.formularioContacto textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
.formularioContacto button{
    padding: 16px 32px;
    margin: 4px 2px;
}

.volver {
    margin: 12px;
    color: red;
}

